@model ProductResponseDto

@if (Model.Price > 1000  && Model.Price<=5000)
{
    <td><badge color="yellow" text="@Model.Price"></badge></td>
}else if(Model.Price > 5000 && Model.Price<=10000)
{
    @*<td><span class="badge rounded-pill bg-primary">@Model.Price</span></td>*@
    <td><badge color="blue" text="@Model.Price"></badge></td>
}else if (Model.Price>10000 && Model.Price<=20000)
{
    <td><badge color="red" text="@Model.Price"></badge></td>
}else if (Model.Price>20000)
{
    <td><badge color="black" text="@Model.Price"></badge></td>
}
else
{
    <td><badge color="white" text="@Model.Price"></badge></td>
}